[Unit]
Description={{ item.description }}
{% if item.after is defined and item.after != None %}
After=network.target {{ item.after }}
Wants=network.target {{ item.after }}
{% else %}
After=network.target
Wants=network.target
{% endif %}

[Service]
Restart=always
RestartSec={{ podman_container_restartsec }}

{% if podman_https_proxy is defined and podman_https_proxy != None %}
Environment="https_proxy={{ podman_https_proxy }}"
{% endif %}
{% if podman_http_proxy is defined and podman_http_proxy != None %}
Environment="http_proxy={{ podman_http_proxy }}"
{% endif %}
{% if podman_http_no_proxy is defined and podman_http_no_proxy != None %}
Environment="no_proxy={{ podman_http_no_proxy }}"
{% endif %}

{% if ansible_selinux is defined and ansible_selinux.config_mode is defined %}
{% if ansible_selinux.config_mode == "enforcing" %}
{% if item.selinux_sandboxing_paths is defined %}
{% for path in item.selinux_sandboxing_paths %}
ExecStartPre=/usr/bin/chcon -Rt svirt_sandbox_file_t {{ path }}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}

ExecStart=/usr/bin/podman run \
	--name {{ item.name }} \
	{% if item.run_opts is defined and item.run_opts != None %}
	{% if item.run_opts | length > 0 %}{{ item.run_opts | regex_replace('\n$', '') }} {% endif %}
	{% endif %}
	{{ item.image }}{% if item.command is defined and item.command != None %}{% if item.command | length > 0 %} \
	{{ item.command }}{% endif %}
	{% if item.command_opts is defined and item.command_opts != None %}
	{% if item.command_opts | length > 0 %}{{ item.command_opts }}{% endif %}
	{% endif %}
	{% endif %}

ExecStop=/usr/bin/podman rm -f {{ item.name }}

[Install]
WantedBy=multi-user.target
Alias={{ item.name }}.service
